
/**------------- navbar---------------**/

.navbar-nav > .user-menu .user-image {
  float: right;
  margin-right: auto;
  margin-left: 10px;
}

.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  text-align: right;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
  right: auto;
  left: 0;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div {
  float: right !important;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
  margin: auto auto auto 10px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
  margin: 0 45px 0 0;
}

.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > h3 small {
  float: left !important;
}







/**------------- side bar---------------**/
.user-panel > .info {
  padding: 5px 15px 5px 5px;
  left: auto;
  right: 55px;
}

.user-panel > .info > a {
  padding-right: 0;
  padding-left: 5px;
}

.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
  margin-right: 0;
  margin-left: 3px;
}

.main-sidebar .user-panel .image {
  float: right !important;
}

@media (max-width: 767px) {
  .main-header .navbar-custom-menu {
    float: left;
  }
}

@media (max-width: 767px) {
  .main-sidebar,
  .left-side {
    -webkit-transform: translate(230px, 0);
    -ms-transform: translate(230px, 0);
    -o-transform: translate(230px, 0);
    transform: translate(230px, 0);
  }
}

@media (min-width: 768px) {
  .sidebar-collapse .main-sidebar,
  .sidebar-collapse .left-side {
    -webkit-transform: translate(230px, 0);
    -ms-transform: translate(230px, 0);
    -o-transform: translate(230px, 0);
    transform: translate(230px, 0);
  }
}

@media (max-width: 767px) {
  .sidebar-open .content-wrapper,
  .sidebar-open .right-side,
  .sidebar-open .main-footer {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@media (max-width: 767px) {
  .content-wrapper,
  .right-side,
  .main-footer {
    margin-right: auto;
    margin-left: 0;
  }
}



/**------------- Taps ---------------**/

.nav-tabs-custom > .nav-tabs {
  padding-inline-start: 0px;
}

/**----------------------------**/
.progress-bar {
  float: right;
}


.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 3px;
  left: 3px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 0;
  padding-left: 10px;
}

.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-results > .select2-results__options {
  text-align: right;
}

.close {
  float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: right !important;
}





/**---------------------------- all ----------------------------**/
.modal-content-box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #00c0ef;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}